$colors: (

	red100: #FDEBEB,
	red95: #FCD8D8,
	red90: #FBC5C5,
	red85: #FAB1B1,
	red80: #F99E9E,
	red75: #F78B8B,
	red70: #F67878,
	red65: #F56464,
	red60: #F45151,
	red55: #F33E3E,
	red50: #F22B2B,
	red45: #DC2828,
	red40: #C72424,
	red35: #B12020,
	red30: #9B1C1C,
	red25: #841818,
	red20: #6E1414,
	red15: #581010,
	red10: #420C0C,
	red5: #2C0808,
	red0: #160404,

	orange100: #FDF3EB,
	orange95: #FCE7D8,
	orange90: #FBDBC5,
	orange85: #FACFB1,
	orange80: #F9C39E,
	orange75: #F7B78B,
	orange70: #F6AB78,
	orange65: #F59F64,
	orange60: #F49351,
	orange55: #F3873E,
	orange50: #F27B2B,
	orange45: #DC7028,
	orange40: #C76524,
	orange35: #B15A20,
	orange30: #9B4F1C,
	orange25: #844418,
	orange20: #6E3814,
	orange15: #582D10,
	orange10: #42220C,
	orange5: #2C1708,
	orange0: #160C04,

	yellow100: #FDF8EB,
	yellow95: #FCF1D8,
	yellow90: #FBEAC5,
	yellow85: #FAE3B1,
	yellow80: #F9DC9E,
	yellow75: #F7D58B,
	yellow70: #F6CE78,
	yellow65: #F5C764,
	yellow60: #F4C051,
	yellow55: #F3B93E,
	yellow50: #F2B32B,
	yellow45: #DCA328,
	yellow40: #C79324,
	yellow35: #B18320,
	yellow30: #9B721C,
	yellow25: #846218,
	yellow20: #6E5214,
	yellow15: #584210,
	yellow10: #42310C,
	yellow5: #2C2108,
	yellow0: #161104,

	green100: #EFFDEB,
	green95: #E0FCD8,
	green90: #D0FBC5,
	green85: #C1FAB1,
	green80: #B2F99E,
	green75: #A2F78B,
	green70: #93F678,
	green65: #84F564,
	green60: #74F451,
	green55: #65F33E,
	green50: #56F22B,
	green45: #4FDC28,
	green40: #47C724,
	green35: #3FB120,
	green30: #379B1C,
	green25: #2F8418,
	green20: #286E14,
	green15: #205810,
	green10: #18420C,
	green5: #102C08,
	green0: #081604,

	blue100: #E7F1FE,
	blue95: #D0E3FE,
	blue90: #B9D6FE,
	blue85: #A2C8FE,
	blue80: #8BBBFE,
	blue75: #73ADFE,
	blue70: #5CA0FE,
	blue65: #4592FE,
	blue60: #2E85FE,
	blue55: #1777FE,
	blue50: #006AFE,
	blue45: #0061E7,
	blue40: #0057D0,
	blue35: #004EB9,
	blue30: #0044A2,
	blue25: #003A8B,
	blue20: #003174,
	blue15: #00275D,
	blue10: #001D46,
	blue5: #00142F,
	blue0: #000A18,

	bright100: white,
	bright95: #EFF5FF,
	bright90: #E6F1FE,
	bright85: #DEEAF9,
	bright80: #D2E0F2,
	bright75: #C7D7ED,
	bright70: #BCCDE5,
	bright65: #AFC1DB,
	bright60: #9CB1CE,
	bright55: #89A0BF,
	bright50: #7991AF,
	bright45: #52627F,
	bright40: #3B465B,
	bright35: #353F51,
	bright30: #2C3544,
	bright25: #242C38,
	bright20: #1F2630,
	bright15: #1A2028,
	bright10: #151A21,
	bright5: #0F1114,
	bright0: black,

	);


@function getColor( $key ) {

	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);

	}
	@warn "The key #{$key} is not in the map ’$colors’";
	@return null;

}