@charset "UTF-8";
@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/reset';

@include form_fields;

@import '../utils/tooltip';
@import '../utils/button';
@import '../utils/message';
@import '../utils/dialog';
@import '../utils/modal';
@import 'dashboard';
@import 'home';
@import 'fonts';
@import 'mytemplates';
@import 'settings';

/* Responsive */

@media screen and ( max-width: 650px ) {

    .comet-page {

        &--main__content__column {
            padding: 0;
            flex-basis: 100%;
            width: 100%;
    
        }

        &--fonts__item {
            flex-basis: 48%;
            width: 48%;
        }

    }

}

@media screen and ( max-width: 500px ) {

    .comet-page--settings__block__column {
        flex-basis: 100%;
        width: 100%;

        &--last { padding-top: 10px; }
        
    }

}

@media screen and ( max-width: 450px ) {

    .comet-page--fonts__item {
        flex-basis: 100%;
        width: 100%;
    }

}
