@import '../utils/mixins';
@import '../utils/colors';

.comet-page--dashboard {
	background: getColor( bright95 );
	display: flex;
	overflow: hidden;
	height: 100%;

	&__sidebar {
		flex-basis: 250px;
		width: 250px;
		height: 100%;
		background: getColor( bright100 );
		border-right: 1px solid getColor( bright80 );
		overflow: auto;
		display: none;

		&__menu {

			&__item {

				&__url {
					display: block;
					padding: 5px 20px;
					text-decoration: none;
					color: getColor( bright50 );

					&:hover {
						color: getColor( blue50 );
						text-decoration: none;
						padding-left: 25px;
						@include transition( padding .5s ease );
					}

					&--close {
						padding: 15px 20px;

						&:before {
							display: inline;
							vertical-align: middle;
							font-family: cico!important;
							width: 15px;
							height: 15px;
							font-size: 15px;
							font-style: normal;
							font-weight: 400;
							content: '\e939';
							padding-right: 5px;

						}
					}

				}
			}
		}

		&__cards {
			padding: 10px;
			display: flex;
			flex-wrap: wrap;
		}

		&__card {
			margin: 5px 0;
			padding: 10px;
			flex-basis: calc( 50% - 25px );
			width: calc( 50% - 25px );
			background: getColor( bright90 );
			@include border_radius( 5px );

			&:hover {
				filter: brightness(.95);
				text-decoration: none;
				@include transition( filter .5s ease );
			}

			aside { font-size: 13px; }

			&--c1 {
				display: flex;
				align-items: center;
				flex-basis: 100%;
				width: 100%;

				.cico {
					background: getColor( bright100 );
					color: getColor( blue50 );
					width: 30px;
					height: 30px;
					font-size: 30px;
					margin-right: 10px;
					padding: 5px;
					@include border_radius( 5px );
					@include box_shadow( 0 0 5px 0 getColor( bright75 ) );

				}

			}

			&--c2, &--c3 {

				.cico {
					width: 30px;
					height: 30px;
					font-size: 30px;

				}

			}

			&--c2 {
				margin-right: 5px;
				background: getColor( yellow55 );
			}

			&--c3 { margin-left: 5px; }
		}

	}

	&__wrap {
		flex-basis: 100%;
		width: 100%;
		height: 100%;
		overflow: hidden;

	}

	&__header {
		width: 100%;
		background: getColor( bright100 );
		height: 50px;
		border-bottom: 1px solid getColor( bright80 );
		display: flex;

		$classItem: a#{&}__item;

		@at-root a#{&}__item {
			margin: 5px;
			overflow: hidden;
			position: relative;
			padding: 10px;

		}

		&__column {
			width: 33.333%;
			display: flex;

			&--c1 #{$classItem} {
				padding: 5px;

				.comet-button__icon {
					font-size: 30px;
					width: 30px;
					height: 30px;

				}

			}

			&--c2 { 
				justify-content: center;

				h1 {
					color: getColor( blue50 );
					font-size: 20px;
					line-height: 50px;
					text-align: center;
				}

			}

			&--c3 { justify-content: flex-end; }

		}

		&__tooltip {

			.comet-tooltip__main { width: 200px; }

			&__title { text-align: center; }

			&__footer {

				&__link {
					display: flex;
					padding: 10px 15px;
					margin: 5px 0;
					background: getColor( bright85 );
					flex-basis: calc( 100% - 15px - 15px );
					width: calc( 100% - 15px - 15px );
					justify-content: space-between;
					@include border_radius( 5px );

					.cico {
						width: 15px;
						height: 15px;
						font-size: 15px;
					}

					&:hover {
						background: getColor( bright80 );
						text-decoration: none;
						@include transition( background .5s ease );

					}

				}
			}

		}

	}

	&__main {
		height: calc( 100% - 50px );
		position: relative;
		overflow: auto;

	}

	&__content {
		max-width: 800px;
		margin: 50px auto;

	}
}