@import '../utils/colors';
@import '../utils/mixins';

.comet-page--fonts {

	&__new { padding: 10px; }

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__counter {
		flex-basis: 100%;
		width: 100%;

	}

	&__gauge {
		padding: 2px 10px;
		margin-top: 5px;
		font-size: 13px;
		color: white;
		font-weight: 600;
		@include border_radius( 30em );

		&--fast {
			background: getColor( green55 );
			color: getColor( green20 );

		}

		&--moderate {
			background: getColor( orange55 );
			color: getColor( orange20 );

		}

		&--slow {
			background: getColor( red55 );
			color: getColor( red20 );

		}

	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

	}

	&__item {
		flex-basis: 30%;
		width: 30%;
		margin-top: 30px;
		overflow: hidden;
		border: 1px solid getColor( bright80 );
		@include border_radius( 5px );

		&:hover { @include box_shadow( 0 0 5px 0 getColor( bright75 ) ); }

		&__preview {
			background: white;
			color: black;
			padding: 10px;
			height: 150px;
			font-size: 23px;
			overflow: hidden;
			border-bottom: 1px solid getColor( bright80 );

		}

		&__aside {
			padding: 10px;
			display: flex;
			justify-content: space-between;

		}

		&__name {
			font-weight: 600;
			display: block;
		}

		&__style {
			font-size: 14px;
			display: block;
		}

		&__delete {
			color: getColor( bright50 );
			padding: 5px;

			&:hover {
				background: getColor( red95 );
				color: getColor( red50 );

			}

		}

	}

	&__tutorial {
		width: 100%;
		margin-top: 30px;
		text-align: center;

		&__row {
			display: flex;
			justify-content: space-between;

		}

		&__column {
			flex-basis: 30%;
			width: 30%;
			margin-top: 30px;
			text-align: left;

		}
	}
}

.comet-modal--fonts__body {

	&__wrapper {
		max-width: 500px;
		margin: 0 auto;
		padding: 20px;
	}

	&__form {
		margin-top: 20px;

		&__control { margin-bottom: 20px; }

		&__label { margin-bottom: 5px; }

	}

}