@import '../utils/mixins';
@import '../utils/colors';

.comet-dashboard{

	&--home {

		&__content {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}

		&__column {
			flex-basis: 50%;
			width: 50%;

			&--c1 {
				flex-basis: 100%;
				width: 100%;
				padding-bottom: 30px;

			}

			&--c2 { padding-right: 20px; }

		}

	}

	&__widget {
		display: block;
		margin-bottom: 20px;

		&--intro {

			&__button {
				background: getColor( yellow55 );
				color: getColor( yellow25 );
				margin-top: 10px;

				&:hover {
					background: getColor( yellow50 );
					color: getColor( yellow25 );

				}

			}
		}

		&--learn {

			&__url {
				margin: 0 0 10px;
				background: white;
				color: getColor( bright50 );
				display: block;
				padding: 10px;
				@include border_radius( 5px );

				&:hover, &:active {
					color: getColor( blue50 );
					text-decoration: none;
					@include box_shadow( 0 0 5px 0 getColor( bright70 ) );
				}
			}

			&__title {
				display: block;
				font-size: 16px;
				font-weight: 600;

			}

		}

		&--docs {
			background: url('../img/comet-dashboard-img1.jpeg') repeat center center;
			background-size: cover;
			overflow: hidden;
			@include border_radius( 5px );

			&__url {
				padding: 100px 20px;
				background: rgba( getColor( blue50 ), .8 );
				display: block;
				font-size: 30px;
				font-weight: 300;
				color: white;

				&:hover, &:active {
					background: rgba( getColor( blue50 ), .4 );
					text-decoration: none;
					@include transition( background-color ease-in-out .5s );

				}
			}
		}

		&--slider {

			&__slide {
				flex-wrap: wrap;
				height: 500px;
				align-content: space-between;
				padding: 40px;
				background: getColor( blue50 );
				@include border_radius( 5px );
				display: none;

				$slide: #{&};

				&--active { display: flex; }

				&__counter {

					span {
						background: rgba( getColor( bright100 ), .5 );
						color: getColor( bright100 );
						display: inline-block;
						padding: 5px 10px;
						font: 500 13px/1.1 sans-serif;
						@include border_radius( 5px );
					}
				}

				&__content {

					h4 {
						margin-bottom: 10px;
						color: getColor( bright100 );
					}

					p { color: getColor( bright100 ); }

				}

				&--s0 {

					h4 { font-size: 30px; }

					&  #{$slide}__buttonset { justify-content: flex-end; }

				}

				&__buttonset {
					display: flex;
					justify-content: space-between;
					flex-basis: 100%;
					width: 100%;
					padding-top: 20px;

				}

				&__button {
					background: none;
					cursor: pointer;
					opacity: .8;
					padding: 0;
					margin: 0;

					.cico {
						border: 2px solid getColor( bright100 );
						color: getColor( bright100 );
						margin: 0;
						padding: 5px;
						@include border_radius( 30em );

					}

					&:hover {
						opacity: 1;
						@include transition( opacity .5s ease );

					}
				}
			}
		}
	}
}