@import '../utils/colors';
@import '../utils/mixins'; 

.comet-dashboard--mytemplates {

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__column--c2 { display: flex; }

	}

	%buttons {
		padding: 10px;
		margin: 0 5px;

	}

	&__new { @extend %buttons; }

	&__import {

		&__files {
			display: none;
			visibility: hidden;
			width: 0;
			height: 0;

		}

		&__select { @extend %buttons; }

	}

	&__item {
		width: 100%;
		display: flex;
		align-items: center;
		border: 1px solid getColor( bright80 );
		padding: 20px;
		margin: 30px 0;
		position: relative;
		background: getColor( bright100 );
		justify-content: space-between;
		@include border_radius( 5px );

		$item: #{&};

		&__title {
			color: getColor( blue50 );
			font-weight: 600;

		}

		&__date {
			color: getColor( bright60 );
			font-size: 13px;
			font-weight: 500;

		}

		&__events { text-align: left; }

		&__event {
			padding: 7px;
			margin-left: 5px;
			border: 1px solid getColor( bright75 );

			.comet-button__icon {
				width: 17px;
				height: 17px;
				font-size: 17px;

			}

			&--export,
			&--delete { display: none; }

			&--edit {
				padding: 7px 10px;
				margin: 0;
				font-size: 13px;
				font-weight: 500;
			}

		}

		&:hover { 
			@include box_shadow( 0 0 10px 0 getColor( bright85 ) );

			#{$item}__event {

				&--export,
				&--delete { display: inline-block; }

			}

		}

	}

}

/* nt */

.comet-modal.comet-newtemplatebox > .comet-inner > .comet-body > .comet-savebox.comet-wrapper {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;

	> .comet-saveform {
		display: flex;
		width: 100%;

		> .comet-button {
			margin-left: 10px;
			line-height: 1;
			padding: 10px 15px;

			&.comet-waitwhile { padding: 7px 15px; }

		}
	}
}

/* preview */

.comet-previewbox .comet-body > div {
	position: relative;
	height: 100%;

	iframe {
		width: 100%;
		height: 100%;
		display: block;

	}

}

/* Export */

.comet-modal.comet-exportbox > .comet-inner > .comet-body .comet-savebox.comet-wrapper {
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;

	> .comet-saveform {
		display: flex;
		width: 100%;

		> .comet-button {
			margin-left: 10px;
			line-height: 1;
			padding: 10px 15px;

			&.comet-waitwhile { padding: 7px 15px; }

		}
	}

}

/* import */

.comet-modal.comet-importbox > .comet-inner > .comet-body .comet-savebox.comet-wrapper {
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;

	.comet-import.comet-items {
		padding: 20px 0;

		.comet-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			margin: 2px 0;
			background: getColor( bright80 );

			> .cico {
				margin: 5px;

				&.cico-check { color: getColor( green50 ); }

				&.cico-x { color: getColor( red50 ); }
			}

		}

	} 

}
