@import '../utils/colors';
@import '../utils/mixins'; 

.comet-page--mytemplates {

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__column {

			&--c2 {
				display: flex;

			}

		}

	}

	&__new {
		padding: 10px;
		margin-left: 5px;
		order: 2;

	}

	&__import {
		order: 1;

		&__files {
			display: none;
			visibility: hidden;
			width: 0;
			height: 0;

		}

		&__select {
			padding: 10px;
			margin-left: 5px;

		}

	}

	&__list {

		&__item {
			width: 100%;
			display: flex;
			align-items: center;
			border: 1px solid getColor( bright80 );
			padding: 20px;
			margin: 20px 0;
			position: relative;
			background: getColor( bright100 );
			justify-content: space-between;
			@include border_radius( 5px );

			&:hover { @include box_shadow( 0 0 10px 0 getColor( bright85 ) ); }

			&__title { color: getColor( blue50 ); }

			&__meta > p {
				font: 300 13px/1.2 sans-serif;
				color: getColor( bright75 );

				> span {
					margin: 0 5px;

					&:first-child { margin-left: 0; }

				}
			}

			&__events { text-align: left; }
		}

	}

}

/* nt */

.comet-modal.comet-newtemplatebox > .comet-inner > .comet-body > .comet-savebox.comet-wrapper {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;

	> .comet-saveform {
		display: flex;
		width: 100%;

		> .comet-button {
			margin-left: 10px;
			line-height: 1;
			padding: 10px 15px;

			&.comet-waitwhile { padding: 7px 15px; }

		}
	}
}

/* preview */

.comet-previewbox .comet-body > div {
	position: relative;
	height: 100%;

	iframe {
		width: 100%;
		height: 100%;
		display: block;

	}

}

/* Export */

.comet-modal.comet-exportbox > .comet-inner > .comet-body .comet-savebox.comet-wrapper {
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;

	> .comet-saveform {
		display: flex;
		width: 100%;

		> .comet-button {
			margin-left: 10px;
			line-height: 1;
			padding: 10px 15px;

			&.comet-waitwhile { padding: 7px 15px; }

		}
	}

}

/* import */

.comet-modal.comet-importbox > .comet-inner > .comet-body .comet-savebox.comet-wrapper {
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;

	.comet-import.comet-items {
		padding: 20px 0;

		.comet-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			margin: 2px 0;
			background: getColor( bright80 );

			> .cico {
				margin: 5px;

				&.cico-check { color: getColor( green50 ); }

				&.cico-x { color: getColor( red50 ); }
			}

		}

	} 

}
